.authOptions {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.individualcomment {
  background-color: rgb(39, 41, 41);
  padding: 15px;
  border-radius: 10px;
  margin: 15px;
  font-family:'Times New Roman', Times, serif;
}

.individualcomment p{
  margin-bottom: 5px;
}

.btn-edit-post{
  width: 45%;
  margin: 0px 0px 20px 0px;
}

.voting{
  width: 15%;
  background-color: blueviolet;
}




#user-comment{
  font-weight: 600;
  font-size: 25px;
  color: rgb(0, 187, 255);
}

#delete{
  background-color: red;
  font-weight: 600;
}